// Custom styles.

.post-body img {
    margin: 0 auto;
    cursor: pointer;
    cursor: zoom-out;
    cursor: -webkit-zoom-in;
    display: block!important;
}

.post-body .pic-title {
	margin: 0 auto;
    text-align: center;
}

.post-body p .pic-title span {
    min-width: 10%;
    min-height: 20px;
    display: inline-block;
    padding: 5px;
    margin: 0 auto;
    border-bottom: 1px solid #d9d9d9;
    font-size: 14px;
    color: #999999;
    font-weight: bold;
}

.posts-expand .post-body .fancybox img {
	margin: 0 auto;
}

.post .highlight {
    padding: 10px 15px 25px;
}

figure.highlight:before {
    content: ' ';
    color: rgba(0,0,0,0.15);
    text-align: right;
    display: block;
    font-weight: bold;
    position: relative;
    font-size: 18px;
    font-family: "Consolas","Liberation Mono",Courier,monospace;
    z-index: 0;
    line-height: 1;
    margin-bottom: 0px;
}

figure.highlight[data-lang]:before {
    content: attr(data-lang);
}

/*.highlight.html .code:after {
  content: 'HTML';
}
.highlight.js .code:after {
  content: 'JS';
}
.highlight.bash .code:after {
  content: 'Shell';
}
.highlight.css .code:after {
  content: 'CSS';
}
*/
/*.highlight.html .code:after, .highlight.js .code:after, .highlight.bash .code:after, .highlight.css .code:after {
    position: absolute;
    top: 0;
    right: 0;
    color: #ccc;
    text-align: right;
    font-size: 0.75em;
    padding: 5px 10px 0;
    line-height: 15px;
    height: 15px;
    font-weight: 600;
}*/

blockquote {
    font-size: 15px;
    background: #f7f7f7;
    padding: 15px 20px;
    margin: 10px 0;
    border-left: 4px solid #f66;
}

blockquote:before {
    position: absolute;
    /*top: 14px;
    left: -12px;*/
    margin-left: -32px;
    /*margin-top: 14px;*/
    background-color: #f66;
    color: #fff;
    content: "!";
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
}

blockquote p {
    margin-bottom: 0;
}

.reward-wrapper {
    padding: 20px 0 20px;
    text-align: center;
    clear: both;
}

.reward-comment {
    color: #999;
    margin: 15px auto 10px;
}

.reward-btn
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 20px;
    padding: 8px 25px;
    font-size: 16px;
    color: #fff;
    background-color: #ea6f5a;

    &:hover 
        text-decoration: none;
        background-color: #ec6149;
        border: 1px solid transparent


#reward-qr
    padding 10px 20px;
    text-align: center;

    .pic-title
        text-align: center;
        color: #444;

    .alipay
        float: right;
        /*display: inline-block;*/
        padding: 10px 10px;

    .wechat 
        float: left;
        /*display: inline-block;*/
        padding: 10px 10px;

    img
        width: 168px
        height: 168px


.reward-thanks {
    text-align: center;
}

@media (max-width: 767px)
    #reward-qr
        padding 10px 10px;
        .alipay, .wechat 
            float: none;
            display: inline-block;
            padding: 10px 10px;


    