
.snippets-sidebar
    position fixed
    border-right 1px solid #e7e7e7;
    z-index 10
    top 20px
    left 0
    bottom 0
    padding 40px 0 30px 30px
    width 260px
    margin-right 20px
    overflow-x hidden
    overflow-y auto
    -webkit-overflow-scrolling touch
    -ms-overflow-style none
    .sidebar-inner
        text-align left

    .main-menu
        margin-bottom 20px
        display none
        padding-left 0
    

    ul
        font-size 14px
        list-style-type none
        margin 0
        line-height 1.8em
        padding-left 1em
        li
            list-style: none;

    .menu-root 
        padding-left 0

    .sidebar-link 
        color #7f8c8d

        &.current 
            font-weight 600
            color #42b983


.content.with-snippets
    margin-left 100px


.header-inner.with-snippets
    width 100%
    padding-left 50px
    padding-right 50px
    box-sizing border-box

